asgiref==3.7.2
Django==4.2.6
django-cors-headers==4.3.0
django-filter==23.3
django-js-asset==2.1.0
django-model-utils==4.3.1
django-mptt==0.15.0
django-notifications-hq==1.8.3
django-taggit==4.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
jsonfield==3.1.0
Markdown==3.5
mysqlclient==2.2.0
Pillow==10.1.0
PyJWT==2.8.0
python-decouple==3.8
pytz==2023.3.post1
sqlparse==0.4.4
swapper==1.3.0
